body {background-color: white;
}

.container{
    background-color: rgb(225, 225, 225);
}

.row {
    
}

.container-photo{
  
}

.contact-photo{
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
    margin:10px;
    width: 200px;
    height: auto;
}
.container-iconos .col-lg-3 {
    display: inline-block;
    vertical-align: top; /* Alinea los elementos en la parte superior */
}

.container-iconos i,
.container-iconos h6 {
    display: inline-block;
    margin-right: 20px; /* Ajusta el espacio entre el ícono y el texto */
}




